<p-dialog [draggable]="true" header="Select a Member" [modal]="true" [resizable]="false" [style]="{width:'75vw'}"
    [(visible)]="display">
    <p-table #dt [columns]="cols" currentPageReportTemplate="{{totalRecordCountLabel}}" dataKey="id" [lazy]=" true"
        [loading]="loading" (onLazyLoad)="loadLazy($event)" (onRowSelect)="onRowSelect($event)" [paginator]="true"
        paginatorDropdownAppendTo="body" [responsive]="true" responsiveLayout="scroll" [rowHover]="true" [rows]="10"
        [rowsPerPageOptions]="[10,20,50,100]" selectionMode="single" [showCurrentPageReport]="true" sortField="name"
        [sortOrder]="1" styleClass="p-datatable-sm" [totalRecords]="totalRecords" [value]="rows">
        <ng-template pTemplate="caption">
            <div class="flex">
                <!-- <button pButton pRipple class="p-button-outlined" (click)="clear(dt)" icon="pi pi-filter-slash"
                    label="Clear"></button> -->
                <button pButton pRipple class="p-button-outlined" (click)="onClearFilter()" icon="pi pi-filter-slash"
                    label="Clear Filter"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <!-- <input pInputText autofocus (input)="onFilter($event)" placeholder="Search keyword" type="text" /> -->
                    <input #keyword pInputText autofocus
                        (keyup.enter)="columnFilter('globalFilter', $event.target.value)" placeholder="Search keyword"
                        type="text" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ngClass]="col.priority" [ngStyle]="col.style"
                    [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sortable">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            <!-- <tr>
                <th *ngFor="let col of columns" [ngStyle]="col.cellStyle" [ngClass]="col.priority">
                    <input
                        *ngIf="col.filter && col.type == 'text' && col.field != 'branchOfService' && col.field != 'rank'"
                        pInputText class="p-inputtext p-component p-element ng-star-inserted p-filled"
                        (keyup.enter)="columnFilter(col.field, $event.target.value)" style="width:100%" type="text" />

                    <p-dropdown *ngIf="col.filter && col.field == 'branchOfService' && this.bosOptions.length > 1"
                        appendTo="body" [filter]="true" (onChange)="onChangeBoS(col.field, $event.value)"
                        [options]="bosOptions">
                    </p-dropdown>

                    <p-dropdown *ngIf="col.filter && col.field == 'rank' && this.ranks.length > 1" appendTo="body"
                        [filter]="true" (onChange)="columnFilter(col.field, $event.value)" [options]="ranks">
                    </p-dropdown>
                </th>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td class="table-cell" *ngFor="let col of columns" [ngStyle]="col.cellStyle">
                    <span class="p-column-title">{{col.header}}</span>

                    <span *ngIf="col.type=='text'">
                        {{rowData[col.field]}}
                    </span>

                    <!-- <div *ngIf="col.type=='actions'" class="flex">
                        <button pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-raised p-button-success mr-2" (click)="editRecord(rowData)"
                            title="Edit"></button>
                        <button pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-raised p-button-warning" (click)="deleteRecord(rowData)"
                            title="Delete"></button>
                    </div> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No member found.</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>